<div class="container">
  <h1>Employee data</h1>

  <ng-container *ngIf="employeeData.length === 0; else elseTemplate">
    Loading...
  </ng-container>
  <ng-template #elseTemplate>
    <input
      type="text"
      name="search"
      placeholder="Search..."
      [(ngModel)]="searchField"
    />
    (you may search by id, name, date, salary, currency)
    <br />
    <table>
      <tr *ngFor="let employee of employeeData | filterEmp: searchField">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.date }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.currency }}</td>
      </tr>
    </table>
  </ng-template>
</div>
